body {
  background-color:#b3d9ff;
}

/* login */
h1{
  margin-left: 620px;
  font-size: 40px;
  font-style: italic;
  color: black;
  font-weight: bold;
}
h2{
  color: black;
  font-weight: bold;
  font-size: 25px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  color: black;
  background-color: white;
  transition: 0.3s;
  width: 40%;
  margin-left: 30%;
  height: 400px;
  width: 400px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
.card2 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: white;
  color: black;
  width: 40%;
  margin-left: 0px;
  height: 200px;
  width: 200px;
}

.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 2px 16px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 370px;
  font-size: 18px;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.date{
  margin-left: 1500px;
  font-family: 'digital-clock-font';
  font-size: 35px;
  color: #00134d;
}
h3{
  font-size: 40px;
  color: black;
}
.txt {
  text-align: center;
  font-family: 'Roboto';
  font-size: 12vmin;
  font-weight: 700;
  animation: netflix_style 3.5s infinite;
  outline: none;
  white-space: nowrap;
}

@keyframes netflix_style {
  0% {
    text-shadow: makelongshadow(100,1);
    color:#f3f3f3;
    transform: scale(1.5, 1.5);
  }
  10% {
    text-shadow: makelongshadow(100,1.5);
    color:#f3f3f3;
    transform: scale(1.5, 1.5);
  }
  15% {
     color:#f3f3f3;
  }
  20% {
    color:#e90418;
    text-shadow: none;
    transform: scale(1.1, 1.1);
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    color:#e90418;
    transform: scale(0.85, 0.9);
  }

  100% {
    opacity: 0;
  }
}
